name: nasiko_ui_example
description: "Example application for Nasiko UI Design System"
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  nasiko_ui:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  fonts:
    - family: Inter
      fonts:
        - asset: packages/nasiko_ui/assets/fonts/Inter-VariableFont_opsz.ttf
        - asset: packages/nasiko_ui/assets/fonts/Inter-Italic-VariableFont_opsz.ttf
          style: italic

    - family: Chivo Mono
      fonts:
        - asset: packages/nasiko_ui/assets/fonts/ChivoMono-Regular.ttf
        - asset: packages/nasiko_ui/assets/fonts/ChivoMono-Medium.ttf
          weight: 500
